<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8" />
        <meta http-equiv="content-script-type" content="text/javascript" />
        <script src="resource/vue.js"></script>
        <title>R3A225</title>
    </h:head>
    <h:body>
        <div id="app">
            <ul>
                <li v-for="item in items">
                    <label>
                        <input type="checkbox" v-model="item.isChecked"> {{ item.title }}</input>
                    </label>
                </li>
            </ul>
            <p>
            <input type="text" placeholder="TODOを入力しましょう！" v-model="newItemTitle" v-on:keyup.enter="addTodo(newItemTitle)">
            </input>
            </p>
        </div>
    <script src="resource/index.js"></script>
    </h:body>
</html>

